// Цвета
$default: #666;
$blue: #2856b3;
$black: #262626;
$grey: #b2b2b2;
$light-grey: #faf8f6;

$primary-color: $blue;

// Шрифты
$default-font: "AvenirNextRegular", sans-serif;
$default-font-m: "AvenirNextMedium", sans-serif;
$default-font-db: "AvenirNextDemiBold", sans-serif;
$default-font-b: "AvenirNextBold", sans-serif;
